

<div class="text_description">
  <br>
  Spielerkader der Saison 2018/19
  <br>
  <br>
</div>


<!-- VARIANTE MIT BILD -->

<div class="kader_info">

  <ng-container *ngFor="let player of players">

    <div class="player_container">

        <img class="player_picture" src="{{player.picture}}">
        <div class="player_info">{{player.name}} <br> {{player.position}}</div>

    </div>

  </ng-container>

</div>

<!--VARIANTE OHNE BILD -->


<!-- <div class="kader_info_container">

  <div class="kader_info_position">
    Tor
  </div>

  <div class="spieler_info">
    <div class="spieler_info_description">
      Name
    </div>

    <div class="spieler_info_namen">
        Heusi
        Basti
    </div>
  </div>

  <div class="kader_info_position">
    Abwehr
  </div>

  <div class="spieler_info">
    <div class="spieler_info_description">
      Name
    </div>

    <div class="spieler_info_namen">
        Heusi
        Basti
    </div>
  </div>

  <div class="kader_info_position">
    Mittelfeld
  </div>

  <div class="spieler_info">
    <div class="spieler_info_description">
      Name
    </div>

    <div class="spieler_info_namen">
        Heusi
        Basti
    </div>
  </div>

  <div class="kader_info_position">
    Sturm
  </div>

  <div class="spieler_info">
    <div class="spieler_info_description">
      Name
    </div>

    <div class="spieler_info_namen">
        Heusi
        Basti
    </div>
  </div> -->







