

<div class="text_description">
  <br>
  Spielerkader der Saison 2018/19
  <br>
  <br>
</div>


<!-- VARIANTE MIT BILD -->

<div class="kader_info">

  <ng-container *ngFor="let player of players">
    <div class="player_container">
        <img class="player_picture" src="{{player.picture}}">
        <div class="player_info">{{player.name}} <br> {{player.position}}</div>
    </div>
  </ng-container>

  <!-- <ng-container *ngFor="let player of mittelfeld">
    <div class="player_container">
        <img class="player_picture" src="{{player.picture}}">
        <div class="player_info">{{player.name}} <br> {{player.position}}</div>
    </div>
  </ng-container>

  <ng-container *ngFor="let player of verteidigung">
    <div class="player_container">
        <img class="player_picture" src="{{player.picture}}">
        <div class="player_info">{{player.name}} <br> {{player.position}}</div>
    </div>
  </ng-container>

  <ng-container *ngFor="let player of tor">
    <div class="player_container">
        <img class="player_picture" src="{{player.picture}}">
        <div class="player_info">{{player.name}} <br> {{player.position}}</div>
    </div>
  </ng-container> -->

</div>







