
.text_description{
  color:red;
  font-weight: bold;
  font-size:2vw;
  text-align:center;
}

.kader_info{
  width: 90%;
  margin-left:5%;
}

.kader_position{
  font-size: 20px;
  font-weight: bold;
  color: red;
}

.player_container{
  margin: 1%;
  height: 10%;
  width:45%;
  padding:2px;
  border: solid;
  border-width: 1px;
  float:left;
}

.player_info{
  font-size: 15px;
  height:90%;
  width:60%;
  float:right;
}

.player_picture{
  height:70px;
  width:70px;
}

@media (max-width:450px) {

  .text_description{
    font-size:15px;
  }
  .player_info{
    font-size: 7px;
  }

  .player_picture{
    height:35px;
    width:35px;
  }
}

@media (max-width: 800px){

  .player_info{
    font-size: 10px;
  }

  .player_picture{
    height:50px;
    width:50px;
  }
}
