<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </head>

  <body>

    <!-- Titel -->
    <div class="title_container">
      <p>OFFIZIELLE WEBSITE DER 1.HERREN FUSSBALLMANNSCHAFT DES</p>
      <h1>SV ROT-WEIß GROß GLEIDINGEN</h1>
    </div>

    <!-- Navbar -->
    <div class="navbar_container" >
      <img class="logo_image" src="../assets/logo.jpg">
      <div class="navbar">

        <!--Navbar Link 1-->
        <div class="navbar_entry" *ngIf="highlight != 1">
          <a class="navbar_link" routerLink="home" (click)="SetHightlight(1)">Startseite</a>
        </div>
        <div class="navbar_entry" *ngIf="highlight == 1">
          <a class="navbar_link_highlighted" routerLink="home" (click)="SetHightlight(1)">Startseite</a>
        </div>

        <!--Navbar Link 2-->
        <div class="navbar_entry" *ngIf="highlight != 2">
          <a class="navbar_link" routerLink="kader" (click)="SetHightlight(2)">Kader</a>
        </div>
        <div class="navbar_entry" *ngIf="highlight == 2">
          <a class="navbar_link_highlighted" routerLink="kader" (click)="SetHightlight(2)">Kader</a>
        </div>


        <!--Navbar Link 3-->
        <div class="navbar_entry" *ngIf="highlight != 3">
          <a class="navbar_link" routerLink="blog" (click)="SetHightlight(3)">Blog</a>
        </div>
        <div class="navbar_entry" *ngIf="highlight == 3">
          <a class="navbar_link_highlighted" routerLink="blog" (click)="SetHightlight(3)">Blog</a>
        </div>

        <!--Navbar Link 4-->
        <div class="navbar_entry" *ngIf="highlight != 4">
          <a class="navbar_link" routerLink="termine" (click)="SetHightlight(4)">Termine</a>
        </div>
        <div class="navbar_entry" *ngIf="highlight == 4">
          <a class="navbar_link_highlighted" routerLink="termine" (click)="SetHightlight(4)">Termine</a>
        </div>

        <!--Navbar Link 5-->
        <div class="navbar_entry" *ngIf="highlight != 5">
          <a class="navbar_link" routerLink="impressum" (click)="SetHightlight(5)">Impressum</a>
        </div>
        <div class="navbar_entry" *ngIf="highlight == 5">
          <a class="navbar_link_highlighted" routerLink="impressum" (click)="SetHightlight(5)">Impressum</a>
        </div>
      </div>
    </div>

    <!-- Slideshow -->
    <div class="slideshow">
      <slideshow
              [height]="200"
              [minHeight]="'200px'"
              [autoPlay]="true"
              [showArrows]="true"
              [lazyLoad]="this.imageUrlArray?.length > 1"
              [autoPlayWaitForLazyLoad]="true"
              [imageUrls]="this.imageUrlArray">
      </slideshow>
    </div>

    <!-- Seitencontent -->
    <div class="side_content">

      <router-outlet></router-outlet>

    </div>

    <!-- Bottombar -->
     <div class="bottombar_container">

       <div class="bottombar_text">SVRWGG AUF SOCIAL MEDIA</div>

       <div class="bottombar_socialmedia">

        <a href="http://www.facebook.com/sv_rw_grossgleidingen">
          <img class="bottombar_icon_facebook" src="../../assets/facebook_icon_home.png">
        </a>

        <a href="http://www.instagram.com/sv_rw_grossgleidingen">
          <img class="bottombar_icon_instagram" src="../../assets/instagram_icon_home.png">
        </a>

        <a href="http://www.twitter.com/sv_rw_grossgleidingen">
          <img class="bottombar_icon_twitter" src="../../assets/twitter_icon_home.png">
        </a>

       </div>
    </div>

  </body>

</html>
