<body>
  <div class="text_container">

    <div class="text_heading">
      Impressum
    </div>

    <div class="text_content">
      <br>
      <b>Anschrift</b><br>
      SV Rot-Weiß Groß Gleidingen e.V<br>
      Hinter der Bahn 2<br>
      38159 Vechelde/OT Gr. Gleidingen

      <br><br>

      <b>Kontakt</b><br>
      Email:<br>
      Telefon:<br>

      <br><br>

      Der Inhalt der Seiten ist urheberrechtlich geschützt. Die Übernahme von Inhalten ist nur mit Genehmigung das Betreibers dieser Homepage gestattet.
      <br><br>
      Verantwortlich für den Inhalt: Cedric Müller

    </div>
  </div>
</body>

