
<div class="text_container">

  <div class="text_heading">
    Impressum
  </div>

  <div class="text_content">
    <br>
    Diese Internet-Präsentation wird herausgegeben für die erste Herrenmannschaft des SV Rot-Weiß Groß Gleidingen e.V  -  Hinter der Bahn 2  -  38159 Vechelde/OT Gr. Gleidingen

    <br><br>

    Der Inhalt der Seiten ist urheberrechtlich geschützt. Die Übernahme von Inhalten ist nur mit Genehmigung das Betreibers dieser Homepage gestattet.
    <br><br>
    Verantwortlich für den Inhalt: Cedric Müller

  </div>
</div>
