<div class="side_content">

  <ng-container *ngFor="let post of posts">

    <div class="post_container">

      <div class="post_title">{{post.title}}<br></div>
      <div class="post_date">{{post.date}}</div>

      <div class="post_content">{{post.content}}</div>

      <a href="http://www.facebook.com/sv_rw_grossgleidingen">
        <img class="post_icon_facebook" src="../../assets/facebook_icon.png">
      </a>

      <a href="http://www.instagram.com/sv_rw_grossgleidingen">
        <img class="post_icon_instagram" src="../../assets/instagram_icon.png">
      </a>

      <a href="http://www.twitter.com/sv_rw_grossgleidingen">
        <img class="post_icon_twitter" src="../../assets/twitter_icon.png">
      </a>
    </div>

  </ng-container>

</div>
