body{
  height:450px;
}

.content_container{
  width: 70%;
  float:left;
  text-align: center;
}

.nextEvents_container{
  width: 30%;
  float:left;
  padding:15px;
  /* background-image: linear-gradient(to right, lightgrey , white); */
  height:100%;
}

.nextEvents_heading{
  font-size:15px;
  font-weight:bold;
  color:red;
}

.nextEvents_entry{
  font-size:10px;
  border-bottom: 1px black solid;
}

.nextEvents_entry:last-of-type{
  border-bottom: none;
}

