<body>

  <div class="nextEvents_container">

    <div class="nextEvents_heading">
      Nächste Termine
    </div>

    <div class="nextEvents_entry" *ngFor="let event of nextEvents">
      <br>
      <b>{{event.day}}.{{event.month}}.{{event.year}} - {{event.hour}}:{{event.minute}}</b>
      <br>
      {{event.event}}
      <br>
      {{event.place}}
      <br><br>
    </div>
  </div>








  <div class="content_container">

    <h1>Willkommen</h1>
    <br>
    auf der offiziellen Seite des SV Rot-Weiß Groß Gleidingen
    <br>
    <br>
    Hier finden Sie alle Infos zu anstehenden Spielen, dem aktuellen Kader oder sonstigen Terminen.

  </div>

</body>
